.transparent-navbar {
  background-color: rgba(0, 0, 0, 0.3) !important; /* Adjust the alpha value for more or less transparency */
  border: none; /* Removes any borders */
  box-shadow: none; /* Removes any shadows */
}
